*{
    margin: 0;
    font-family: roboto;
}

a {
    text-decoration: none;
}


a:hover{
    color: #faf2f2;
}

ul{
    display: flex;
}

li{
    list-style: none;
    margin: 10px;

}

.top{
    background-color: #1f2937;
    padding: 20px 140px 120px 140px;
}

.logo{
 font-size: 24px;
 color: #f9faf8;
 font-weight: bold;

}

.heroText ,
.right,
a ,
.signUp{
    font-size: 18px;
    color: #e5e7eb;
}


.hero h1 {
    margin-bottom: 6px;
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.header{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 100px;
}

.hero{
    display: flex;
    flex: 1;

}



.right {
   display: flex;
   background-color: #6c757d;
   justify-content: center;
   align-items: center;
}

.left{
    padding-right: 60px;
}
.right
,.left{
    width: 50%;  
}

.signUp{
    margin-top: 10px;
    width: 120px;
    height: 36px;
    border-radius: 10px;
    background-color: #3882f6;
    border:none;
    font-weight: bold;
}

.signUp:hover{
    background-color: #5b98fa;
}

.square{
    width: 160px;
    height: 160px;
    border: 4px #3882f6 solid;
    border-radius: 10px;
}

.randomInfo{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 170px;
    color: #575757;
}

.someRandomInfo{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 80px;
}

.info h2{
    font-size: 36px;
    font-weight: bold;
    color: #1f2937; 
    text-align: center;
    margin-top: 30px;
    
}

.quote{
    font-family: italic;
    font-weight: lighter;
    font-size: 36px;
    color: #1f2937;
    background-color: #e5e7eb;
    text-align: center;
    padding: 70px 220px 80px 220px;
}

#thor{
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
    text-align: end;
}

.call{
    background-color: #3882f6;
    width: 700px;
    height: 130px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 100px 20px 100px;
}

.bot{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 100px 100px 100px;
}

.btnSign{
    width: 120px;
    height: 36px;
    background-color: #3882f6;
    color: #e5e7eb;
    border: #e5e7eb solid 2.5px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 16px;

}

.btnSign:hover{
    background-color: #5b98fa;
}

#call{
 color: #e5e7eb;
 font-weight: bold;
 font-size: 26px;
}

#sign{
 color: #e5e7eb;

}

.footer{
    background-color: #1f2937;
    color: #e5e7eb;
    font-size: 18px;
    padding-top: 35px;
    padding-bottom: 35px;
    text-align: center;
}
